Repository ry2x/WildRift-Stats-Web: changes, and which lint-staged commands are due for each by the changed paths.
All: next lint --fix, prettier --write

style: update globals.css with Tailwind CSS styles for base and components layers
  src/app/globals.css
Due: prettier --write

feat: add reusable pagination component
  src/components/ChampionCards/Pagination.tsx
Due: next lint --fix, prettier --write

fix: update lint-staged configuration for next lint and prettier
  .lintstagedrc
Due: none

fix: specify source directory for linting commands
  package.json
Due: prettier --write

refactor: reorganize StatsMatrix component structure
  src/components/stats/index.tsx
Due: next lint --fix, prettier --write

feat: integrate Pagination component
  src/components/ChampionCards/index.tsx
Due: next lint --fix, prettier --write

refactor: simplify main structure in multiple pages
  src/app/champions/[championId]/page.tsx
  src/app/champions/page.tsx
  src/app/page.tsx
  src/app/stats/page.tsx
Due: next lint --fix, prettier --write

fix: correct class name for pagination buttons
  src/components/ChampionCards/Pagination.tsx
Due: next lint --fix, prettier --write

feat: add css for card
  src/app/globals.css
Due: prettier --write

feat: use base-card css
  src/components/ChampionCards/ChampionCard.tsx
  src/components/ChampionCards/ChampionFilterAndSort.tsx
  src/components/ChampionCards/ChampionSearch.tsx
  src/components/ChampionDetail/ChampionBasicInfo.tsx
  src/components/ChampionDetail/ChampionStats.tsx
  src/components/stats/index.tsx
Due: next lint --fix, prettier --write

feat: update Card component styles and integrate icon
  src/components/home/Card.tsx
Due: next lint --fix, prettier --write

feat: update color gradients in global styles and header component
  src/app/globals.css
  src/components/ChampionDetail/index.tsx
  src/components/layout/Header.tsx
Due: next lint --fix, prettier --write

feat: add button design
  src/app/globals.css
Due: prettier --write

feat: apply new css
  src/components/ChampionCards/ChampionFilterAndSort.tsx
  src/components/ChampionDetail/ChampionStats.tsx
  src/components/stats/LaneFilter.tsx
  src/components/stats/RankFilter.tsx
Due: next lint --fix, prettier --write

feat: update padding
  src/components/ChampionCards/ChampionFilterAndSort.tsx
  src/components/ChampionDetail/ChampionStats.tsx
  src/components/stats/LaneFilter.tsx
  src/components/stats/RankFilter.tsx
  src/components/stats/index.tsx
Due: next lint --fix, prettier --write

feat: add gradient animation and update component styles
  src/app/globals.css
Due: prettier --write

feat: restructure Title component layout and add gradient animation
  src/components/home/Title.tsx
Due: next lint --fix, prettier --write

feat: use global css style
  src/components/ChampionCards/ChampionCard.tsx
  src/components/ChampionDetail/ChampionBasicInfo.tsx
  src/components/ChampionDetail/ChampionStats.tsx
  src/components/ChampionDetail/index.tsx
Due: next lint --fix, prettier --write

add: picture recourse
  picture/logo-colored.svg
  picture/logo.svg
Due: none

feat: exclude 'picture' directory from TypeScript compilation
  tsconfig.json
Due: prettier --write

Add app icon and manifest for Wild Rift Stats
  public/file.svg
  public/globe.svg
  public/next.svg
  public/vercel.svg
  public/web-app-manifest-192x192.png
  public/web-app-manifest-512x512.png
  public/window.svg
  src/app/apple-icon.png
  src/app/favicon.ico
  src/app/icon0.svg
  src/app/icon1.png
  src/app/manifest.json
Due: prettier --write

feat: add meta tag for mobile web app title
  src/app/layout.tsx
Due: next lint --fix, prettier --write

add: @svgr/webpack for svg
  package.json
  pnpm-lock.yaml
Due: prettier --write

add: add logo.svg file
  public/logo.svg
Due: none

feat: configure webpack to handle SVG files and add type definitions
  next.config.ts
  src/types/svg.d.ts
Due: next lint --fix, prettier --write

add: add types of webpack
  package.json
  pnpm-lock.yaml
Due: prettier --write

add: icon0
  src/app/icon0.png
  src/app/icon0.svg
Due: none

feat: add Logo component with gradient SVG
  src/components/ui/Logo.tsx
Due: next lint --fix, prettier --write

feat: update Title component to include Logo with gradient styling
  src/components/home/Title.tsx
Due: next lint --fix, prettier --write

feat: add Logo component to Header with gradient styling
  src/components/layout/Header.tsx
Due: next lint --fix, prettier --write

feat: add GeneralImage component for optimized image handling
  src/components/ui/GeneralImage.tsx
Due: next lint --fix, prettier --write

feat: replace Image component with GeneralImage
  src/components/ChampionCards/ChampionCard.tsx
  src/components/ChampionDetail/index.tsx
  src/components/stats/StatsTable.tsx
Due: next lint --fix, prettier --write

feat: remove webpack SVG configuration and type declaration
  next.config.ts
  src/types/svg.d.ts
Due: next lint --fix, prettier --write

feat: remove unused champion and stats API routes
  src/app/api/champions/route.ts
  src/app/api/stats/route.ts
Due: next lint --fix, prettier --write

feat: change default storage option
  src/services/api/client.ts
Due: next lint --fix, prettier --write

feat: remove deprecated type definitions for champion, sort, and stats
  src/types/champion.ts.bak
  src/types/sort.ts.bak
  src/types/stats.ts.bak
Due: none

feat: add 'use client' directive to multiple components
  src/components/ChampionCards/ChampionCard.tsx
  src/components/ChampionCards/Pagination.tsx
  src/components/ChampionDetail/ChampionBasicInfo.tsx
  src/components/stats/LaneFilter.tsx
  src/components/stats/RankFilter.tsx
  src/components/stats/StatsTable.tsx
  src/components/ui/EmptyState.tsx
Due: next lint --fix, prettier --write

feat: disable Next.js image optimization for GeneralImage component
  src/components/ui/GeneralImage.tsx
Due: next lint --fix, prettier --write

feat: set priority attribute to true for splash image in ChampionDetailContainer
  src/components/ChampionDetail/index.tsx
Due: next lint --fix, prettier --write

feat : remove packages
  package.json
  pnpm-lock.yaml
Due: prettier --write

Path conditions:
  next lint --fix: any of: *.{ts,tsx}
  prettier --write: any of: *.{ts,tsx,json,md,css}
